<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

		<script src="https://kit.fontawesome.com/f8deb56b81.js" crossorigin="anonymous"></script>
		<title>HenrikAC</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
			<div class="container">
				<a class="navbar-brand text-dark font-weight-bold" href="#">HenrikAC</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link text-dark" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="#">Portfolio</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Home -->
		<div id="home" class="jumbotron jumbotron-fluid bg-dark text-white text-center min-vh-100">
			<div class="container pt-5 mt-5">
				<h1 class="display-4 pt-5 mt-5">Henrik Abel</h1>
				<hr class="my-3 bg-white w-25">
				<p class="text-center">
					<small>
						<i>Computer science student by day, <u><a class="text-white" href="https://en.wiktionary.org/wiki/Pythonista#:~:text=Noun,uses%20the%20Python%20programming%20language." target=_blank">pythonista</a></u> by night.</i>
					</small>
				</p>
				
				<i id="arrow" class="fa fa-3x fa-angle-down border border-white rounded-circle px-3 py-2"></i>
			</div>
		</div>

		<!-- About -->
		<div class="container mb-5">
			<div id="about" class="row pt-5 min-vh-100">
				<div class="col-md-6 mx-auto pt-5 mt-5">
					<h2 class="text-center text-dark">Who is this guy?</h2>
					<hr class="mt-3 mb-4 w-25 bg-dark">
					<p class="text-dark">
					Computer science student from Hjørring, Denmark.<br/>
					I am super passionate about making software and trying new technologies.<br/>
					My favorite types of projects are web scrapers and task automation.<br/>
					I prefer to program in either C or Python but I do also have experience working with e.g. JavaScript and C#/.NET Core.
					</p>
					<p>
					When I am not scraping data off the web, you will find me in either the gym or biking around the city.<br/>
					</p>
				</div>

				<div class="col-md-4 offset-md-1 pt-5 mt-5">
					<h2 class="text-center text-dark">Interests</h2>
					<hr class="mt-3 mb-4 w-25 bg-dark">
					<ul class="list-unstyled text-center">
						{% for interest in interests %}
							<li class="text-dark">{{ interest }}</li>
						{% endfor %}
					</ul>
				</div>

				<div class="col-md-4 offset-md-8 pt-5 pt-sm-0">
					<h2 class="text-center text-dark">Skills</h2>
					<hr class="mt-3 mb-4 w-25 bg-dark">
					<ul class="list-unstyled text-center">
						{% for skill in skills %}
							<li class="text-dark">{{ skill }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>

		<!-- Portfolio -->
		<div id="portfolio" class="container-fluid mt-5 pt-5 pb-5 min-vh-100 bg-dark">
			<div class="container pt-5">
				<div class="row">
					<div class="col-md-6 offset-md-1">
						<h2 class="text-center text-white">Portfolio</h2>
						<hr class="mt-3 mb-4 w-25 bg-white">
						<p class="text-white">
							As mentioned before, I really love to make web scrapers and task automation.<br/>
							One of the more interesting projects that I have done is my Instagram bot (SocialBots).
							I made this project as an experiment to see if I would get more followers on Instagram if I just liked a bunch of random photos.
							I was not interested in finding and liking all the photos myself so I decided to automate this task using <a href="https://selenium-python.readthedocs.io/" target="_blank" class="text-white"><strong>Selenium</strong></a>.
							The project turned out to be a success because the more photos my bot liked the more followers I got.<br/><br/>

							I created a few JavaScript projects while following the curriculum on <a href="https://www.freecodecamp.org/" target="_blank" class="text-white"><strong>FreeCodeCamp</strong></a>.
							Those projects of course varied in difficulty, from simple animations to fetching data from an API. The most difficult project, in my opinion, was the Simon Game - not because of the JavaScript but because of the styling part.
						</p>
					</div>
					<div class="col-md-5 col-lg-3 offset-lg-1 mt-4 mt-sm-0">
						<h2 class="text-center text-white">GitHub Projects</h2>
						<hr class="mt-3 mb-4 w-25 bg-white">
						<ul class="list-unstyled text-center">
						{% for repo in repos %}
							<li>
								<a href="{{ repo.url }}" target="_blank" class="text-white">
									<strong>{{ repo.name }}</strong>
								</a>
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-4 offset-md-1 card bg-white pb-3 mt-4 mt-sm-0">
						<a href="https://codepen.io/regnis/full/OvjrZe" target="_blank" class="text-dark">
							<div class="card-body">
								<h5 class="card-title font-weight-bold">Calculator</h5>
							</div>
							<img class="img-fluid border border-dark" loading="lazy" alt=""
							srcset="
							https://assets.codepen.io/537247/internal/screenshots/pens/OvjrZe.default.png?fit=cover&amp;format=auto&amp;ha=false&amp;height=180&amp;quality=75&amp;v=2&amp;version=1522060252&amp;width=320 320w,
							https://assets.codepen.io/537247/internal/screenshots/pens/OvjrZe.default.png?fit=cover&amp;format=auto&amp;ha=false&amp;height=360&amp;quality=75&amp;v=2&amp;version=1522060252&amp;width=640 640w,
							https://assets.codepen.io/537247/internal/screenshots/pens/OvjrZe.default.png?fit=cover&amp;format=auto&amp;ha=false&amp;height=540&amp;quality=75&amp;v=2&amp;version=1522060252&amp;width=960 960w,
							https://assets.codepen.io/537247/internal/screenshots/pens/OvjrZe.default.png?fit=cover&amp;format=auto&amp;ha=false&amp;height=720&amp;quality=75&amp;v=2&amp;version=1522060252&amp;width=1279 1279w">
						</a>
					</div>
					<div class="col-md-4 offset-md-2 card bg-white pb-3 mt-4 mt-sm-0">
						<a href="https://codepen.io/regnis/full/XEyJwR" target="_blank" class="text-dark">
							<div class="card-body">
								<h5 class="card-title font-weight-bold">Simon Game</h5>
							</div>
							<img class="img-fluid border border-dark" loading="lazy" alt=""
							srcset="
							https://assets.codepen.io/537247/internal/screenshots/pens/XEyJwR.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=180&amp;quality=75&amp;v=2&amp;version=1523135513&amp;width=320 320w,
							https://assets.codepen.io/537247/internal/screenshots/pens/XEyJwR.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=360&amp;quality=75&amp;v=2&amp;version=1523135513&amp;width=640 640w,
							https://assets.codepen.io/537247/internal/screenshots/pens/XEyJwR.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=540&amp;quality=75&amp;v=2&amp;version=1523135513&amp;width=960 960w,
							https://assets.codepen.io/537247/internal/screenshots/pens/XEyJwR.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=720&amp;quality=75&amp;v=2&amp;version=1523135513&amp;width=1279 1279w">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 offset-md-1 card bg-white pb-3 mt-4 mt-sm-5">
						<a href="https://codepen.io/regnis/full/aYBOME" target="_blank" class="text-dark">
							<div class="card-body">
								<h5 class="card-title font-weight-bold">Twitch Streamers</h5>
							</div>
							<img class="img-fluid border border-dark" loading="lazy" alt=""
							srcset="
							https://assets.codepen.io/537247/internal/screenshots/pens/aYBOME.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=180&amp;quality=75&amp;v=2&amp;version=1521392615&amp;width=320 320w,
							https://assets.codepen.io/537247/internal/screenshots/pens/aYBOME.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=360&amp;quality=75&amp;v=2&amp;version=1521392615&amp;width=640 640w,
							https://assets.codepen.io/537247/internal/screenshots/pens/aYBOME.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=540&amp;quality=75&amp;v=2&amp;version=1521392615&amp;width=960 960w,
							https://assets.codepen.io/537247/internal/screenshots/pens/aYBOME.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=720&amp;quality=75&amp;v=2&amp;version=1521392615&amp;width=1279 1279w">
						</a>
					</div>
					<div class="col-md-4 offset-md-2 card bg-white pb-3 mt-4 mt-sm-5">
						<a href="https://codepen.io/regnis/full/GxyVyM" target="_blank" class="text-dark">
							<div class="card-body">
								<h5 class="card-title font-weight-bold">Pomodoro Clock</h5>
							</div>
							<img class="img-fluid border border-dark" loading="lazy" alt=""
							srcset="
							https://assets.codepen.io/537247/internal/screenshots/pens/GxyVyM.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=180&amp;quality=75&amp;v=2&amp;version=1522339784&amp;width=320 320w,
							https://assets.codepen.io/537247/internal/screenshots/pens/GxyVyM.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=360&amp;quality=75&amp;v=2&amp;version=1522339784&amp;width=640 640w,
							https://assets.codepen.io/537247/internal/screenshots/pens/GxyVyM.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=540&amp;quality=75&amp;v=2&amp;version=1522339784&amp;width=960 960w,
							https://assets.codepen.io/537247/internal/screenshots/pens/GxyVyM.default.png?fit=cover&amp;format=auto&amp;ha=true&amp;height=720&amp;quality=75&amp;v=2&amp;version=1522339784&amp;width=1279 1279w">
						</a>
					</div>
				</div>
			</div>
		</div>

		<footer class="container-fluid bg-white py-2">
			<div class="row pt-3">
				<div class="col-10 mx-auto">
					<ul class="list-inline text-center">
						<li class="list-inline-item">
							<a href="https://twitter.com/henrikabel" target="_blank" class="text-dark">
								<span class="fa-stack fa-lg">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://github.com/henrikac" target="_blank" class="text-dark">
								<span class="fa-stack fa-lg">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fab fa-github fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://codepen.io/regnis" target="_blank" class="text-dark">
								<span class="fa-stack fa-lg">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fab fa-codepen fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<p class="text-center text-dark pt-2">&copy; {{ now.year }} Henrik Abel Christensen</p>
		</footer>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
	</body>
</html>
